body {
  background-color: darkblue;
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: brown;
  display: flex;
  justify-content: center;
}

.info {
  width: 45%;
  height: 100%;
  background-color: coral;
}

.map {
  width: 55%;
  height: 100%;
  background-color: chartreuse;
  position: relative;
}